body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 200px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

div {
    text-align: center;
    margin-top: 30px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #0866ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}